@import "basetheme/_animation.css";
@import "basetheme/_components.css";
@import "basetheme/_forms.css";
@import "basetheme/_layout.css";
@import "plugins/_filepond.css";
@import "plugins/_apexcharts.css";
@import "plugins/_select.css";
:root {
    --body-font-family: "DM Sans", sans-serif;
}

body {
    background-color: blue;
    font-family: var(--body-font-family), serif;
}